/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/sig/**
!/sig/_external.rbs
!/sig/_supplementary.rbs

/.vscode
/Gemfile.lock
/vendor/bundle

# rspec failure tracking
.rspec_status

# RubyMine
/.idea/
/.rakeTasks

diff-*.png
*.github.pdf
.envrc

/.ruby-version
