version: 2.1

rspec_chrome_job: &rspec_chrome_job
  steps:
    - checkout
    - run:
        command: gem install bundler:2.2.3 && bundle install
    - run:
        name: rspec
        command: |
          DEBUG=1 bundle exec rspec --profile 10 \
            --format RspecJunitFormatter \
            --out test_results/rspec.xml \
            --format documentation

jobs:
  rspec_chrome_ruby2_6:
    docker:
      - image: circleci/ruby:2.6.6-buster-node-browsers
    <<: *rspec_chrome_job

  rspec_chrome_ruby2_7:
    docker:
      - image: circleci/ruby:2.7.2-buster-node-browsers
    <<: *rspec_chrome_job

  rspec_chrome_ruby3_0:
    docker:
      - image: circleci/ruby:3.0.0-buster-node-browsers
    <<: *rspec_chrome_job

  rspec_firefox:
    docker:
      - image: circleci/ruby:2.7.2-buster-node-browsers
    steps:
      - checkout
      - run:
          command: gem install bundler:2.2.3 && bundle install
      - run:
          name: install firefox-nightly
          command: |
            wget -O nightly.tar.bz2 "https://download.mozilla.org/?product=firefox-nightly-latest-ssl&os=linux64&lang=en-US"
            tar xf nightly.tar.bz2
      - run:
          name: rspec
          command: |
            DEBUG=1 PUPPETEER_PRODUCT_RSPEC=firefox \
            PUPPETEER_EXECUTABLE_PATH_RSPEC=${CIRCLE_WORKING_DIRECTORY/#\~/$HOME}/firefox/firefox \
            bundle exec rspec --profile 10 \
              --format RspecJunitFormatter \
              --out test_results/rspec.xml \
              --format documentation spec/integration/

  rspec_firefox_pending_check:
    docker:
      - image: circleci/ruby:2.7.2-buster-node-browsers
    steps:
      - checkout
      - run:
          command: gem install bundler:2.2.3 && bundle install
      - run:
          name: install firefox-nightly
          command: |
            wget -O nightly.tar.bz2 "https://download.mozilla.org/?product=firefox-nightly-latest-ssl&os=linux64&lang=en-US"
            tar xf nightly.tar.bz2
      - run:
          name: rspec
          command: |
            DEBUG=1 PUPPETEER_PRODUCT_RSPEC=firefox PENDING_CHECK=true \
            PUPPETEER_EXECUTABLE_PATH_RSPEC=${CIRCLE_WORKING_DIRECTORY/#\~/$HOME}/firefox/firefox \
            bundle exec rspec --profile 10 \
              --format RspecJunitFormatter \
              --out test_results/rspec.xml \
              --format documentation spec/integration/

  deploy:
    docker:
      - image: circleci/ruby:2.6.3-stretch-node
    steps:
      - checkout
      - run:
          command: gem install bundler:2.2.3 && bundle install
      - run:
          name: rake build
          command: rake build
      - run:
          name: setup API key
          command: |
            mkdir -p ~/.gem/
            echo "---" > ~/.gem/credentials
            echo ":rubygems_api_key: $RUBYGEMS_API_KEY" >> ~/.gem/credentials
            chmod 600 ~/.gem/credentials
      - run:
          name: Check Puppeteer::version
          command: bundle exec ruby -e 'raise "invalid Puppeteer::VERSION" unless Puppeteer::VERSION == ENV["CIRCLE_TAG"]'
      - run:
          name: gem push
          command: gem push pkg/puppeteer-ruby-$CIRCLE_TAG.gem

workflows:
  ci:
    jobs:
      - rspec_chrome_ruby2_6
      - rspec_chrome_ruby2_7
      - rspec_chrome_ruby3_0
      - rspec_firefox
      - rspec_firefox_pending_check
  rubygems-deploy:
    jobs:
      - deploy:
          filters:
            tags:
              only: /^[0-9]\.[0-9]+\.[0-9].*/
            branches:
              ignore: /.*/
