name: Check

on: [pull_request]

jobs:
  check:
    name: documents updated
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.2
        bundler-cache: true
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
        path: puppeteer
        repository: puppeteer/puppeteer
    - uses: actions/setup-node@v3
      with:
        node-version: 16
    - name: Check puppeteer.api.json is updated
      run: |
        cd puppeteer
        git checkout puppeteer-core-v$(cat ../development/DOCS_VERSION)
        npm install && npm run build
        cd ../
        cp puppeteer/docs/puppeteer.api.json development/puppeteer.api.json
        rm -rf puppeteer
        git diff --exit-code
    - name: Check api_coverage doc is updated
      run: |
        bundle exec ruby development/generate_api_coverage.rb
        git diff --exit-code

  typecheck:
    name: Type Check
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.4
        bundler-cache: true
    - name: Generate RBS files
      run: bundle exec rake rbs
    - name: Validate RBS syntax
      run: rbs -I sig parse sig/**/*.rbs
    - name: Run Steep type check
      run: bundle exec steep check
